<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2022-03-07T14:00:25Z</date>
	<key>WorkspacePath</key>
	<string>/Users/DarshanMali/Desktop/RTR3/iOS/02.BlueScreen/02.BlueScreen.xcodeproj</string>
</dict>
</plist>
